# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
*.iml

# iOS
ios/Flutter/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/

# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
